{% comment %} {{ 'global.min.css' | asset_url | stylesheet_tag }} {% endcomment %}

<style>
    .navigation {
        color: var(--color-primary-text);
        /* flex-wrap: wrap; */
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .header-left-items {
        display: flex;
        align-items: center;
        /* width: 50%; */
        gap: 10rem;
    }
    .nav-inline-menu {
        margin-left: 100px;
    }
    .select-pages {
        color: var(--color-primary-text);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        cursor: pointer;
    }

    .select-pages:hover,
    .select-pages:focus {
        color: var(--color-primary-accent);
    }
    .nav-lists a {
        font-weight: 400;
        color: var(--color-primary-text);
        text-decoration: none;
    }

    .search-field {
        margin-left: auto;
        /* margin-right: auto; */
    }
    .header-right-items {
        margin-left: auto;
        --gap: 3rem;
    }

    .header-right-items > a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .header-right-items a > svg {
        color: var(--color-primary-text);
        fill: var(--color-primary-text);
    }

    .header-right-items a svg path {
        fill: var(--color-primary-text);
    }

    .favicon-nav {
        align-items: center;
        gap: 70px;
    }

    .nav-lists {
        list-style-type: none;
        flex-direction: row;
        gap: 25px;
        padding-inline-start: 0;
    }

    .search-btn {
        background-color: var(--color-primary-accent);
        height: 40px;
        width: 51px;
        gap: 0;
        justify-content: center;
        align-items: center;
        border: 0;
        cursor: pointer;
    }

    @media screen and (max-width: 750px) {
        .favicon-nav {
            gap: 45px;
        }

        .nav-lists {
            flex-wrap: wrap;
            justify-content: center;
        }

        .search-div {
            width: 75%;
        }
    }
</style>

<div class='color-{{section.settings.color_scheme}}'>
    <div class='navigation ff-lato flex page--width '>
        <a class='logo-home-link' href='/'>
            {{ section.settings.image | image_url: width: 100, height: 34 | image_tag }}
        </a>

        <nav class='nav-inline-menu'>
            <ul class='nav-lists flex '>
                <li>
                    <select class='select-pages' name='nav-page' id='nav-page'>
                        <option value='home'>Home</option>
                        <option value='page'>Page</option>
                    </select>
                </li>

                <li>
                    <a href='#'>Pages</a>
                </li>
                <li>
                    <a href='#'>Products</a>
                </li>
                <li>
                    <a href='#'>Blog</a>
                </li>
                <li>
                    <a href='#'>Shop</a>
                </li>
                <li>
                    <a href='#'>Contact</a>
                </li>
            </ul>
        </nav>
        <div class='header-right-items flex'>
            <form class='search-field flex' action='{{routes.search_url}}'>
                <button type='submit' class='search-btn flex'>
                    {% render 'icons', icon: 'search' %}
                </button>
            </form>
            <a href='#'>
                <span>Login </span>
                {% render 'icons', icon: 'user' %}
            </a>

            <a href='#'>
                <span>Wishlist </span>
                {% render 'icons', icon: 'favorite' %}
            </a>
            <a href='/cart'>
                {% render 'icons', icon: 'cart' %}
            </a>
        </div>

        {% comment %} <div class='favicon-nav flex'></div> {% endcomment %}
    </div>
</div>

{% schema %}
{
    "name": "Header Hekto",
    "class": "header-hekto",
    "enabled_on": {
        "groups": ["header"]
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Logo Image"
        }
    ],
    "presets": [
        {
            "name": "Header Hekto"
        }
    ]
}
{% endschema %}
