{% liquid
    assign ss = section.settings
    assign bs = block.settings
%}

<div class="featured-product">
    <p class="featured-product__heading">{{ ss.heading }}</p>
</div>

{% schema %}
{
    "name": "Hekto Featured Product",
    "enabled_on": { "templates": ["*"] },
    "settings": [
        {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Featured Products",
            "label": "Heading"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Hekto Featured Product"
        }
    ]
}
{% endschema %}
